.mainContainer {
    width: 100%;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
}


.headerBackground {
    width: 100%;
    height: 500px;
    background-image: url('https://static.wixstatic.com/media/62f1e7_6f1e61325bb14ea9866f5e6e176ad8f8f000.jpg/v1/fill/w_521,h_1350,al_c,q_85,enc_avif,quality_auto/62f1e7_6f1e61325bb14ea9866f5e6e176ad8f8f000.jpg');
    background-size: cover; /* Ajusta a imagem para cobrir toda a div */
    background-position: top; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita repetição da imagem */

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: end;

    .container {
        width: 100%;
        background: var(--white);

        height: 300px;

        display: flex;
        flex-direction: column;

        align-items: center;
        justify-content: center;

        gap: 24px;

        color: #292923;
        padding: 24px;

        h2 {
            font-size: 32px;
            font-weight: 400;
            text-transform: uppercase;

            text-align: center;
        }

        h3 {
            font-size: 34px;
            font-weight: 500;

            text-transform: uppercase;
            text-align: center;
        }

        button {
            padding: 10px 32px;

            background: #29292E;
            color: var(--white);

            font-size: 22px;
            text-transform: uppercase;

            border: none;
            outline: 0;

            &:hover {
                transition: filter .2s;
                filter: brightness(0.8);
            }
        }
    }
}

.backgroundImage {
    width: 100%;
    height: 650px;
    background-image: url('https://static.wixstatic.com/media/62f1e7_8a82bf5eab9a4e0291fcef92dc8eb4d4~mv2.jpg/v1/fill/w_640,h_794,fp_0.50_0.50,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/62f1e7_8a82bf5eab9a4e0291fcef92dc8eb4d4~mv2.jpg');
    background-size: cover; /* Ajusta a imagem para cobrir toda a div */
    background-position: top; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita repetição da imagem */
}

.eventInfo {
    width: 100%;
    height: max-content;
    background-image: url('https://static.wixstatic.com/media/62f1e7_0e0460e5fde04a3a9454716dbab9b68b~mv2.jpg/v1/fill/w_1391,h_985,al_c,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/62f1e7_0e0460e5fde04a3a9454716dbab9b68b~mv2.jpg');
    background-size: cover; /* Ajusta a imagem para cobrir toda a div */
    background-position: top; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita repetição da imagem */

    padding: 64px;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    gap: 32px;

    .eventInfoImageContainer {
        border-radius: 45% 45% 0 0; /* Bordas superiores arredondadas */
        overflow: hidden; /* Garante que a imagem não ultrapasse os limites arredondados */

        img {
            width: 100%; /* Ajusta a imagem para o tamanho do contêiner */
            height: auto; /* Mantém a proporção da imagem */
            border-radius: 45% 45% 0 0; /* Bordas da imagem arredondadas apenas no topo */
        }
    }

    h2 {
        margin-top: 2rem;

        color: #141414;

        span {
            font-family: "Parisienne", cursive;
            font-weight: 600;
            font-style: normal;
        }
    }

    span {
        font-size: 32px;
        line-height: 60px;
    }

    button {
        background: #FFD1B3;
        color: var(--white);
        
        padding: 10px 24px;
        font-size: 18px;

        border: none;
        border-radius: 32px;

        &:hover {
            transition: filter .2s;
        }
    }
}